@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: #dadada;
  color: black;
  font-family: 'Open Sans', 'IBM Plex Sans Thai';
}

nav{
  margin: 10px auto;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
}

nav a{
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin-left: 12px;
  padding: 10px;

}

nav a:hover{
  color: aqua;
}

nav .projectname{
  color: white;
  margin-right: auto;
  padding-left: 20px;
  font-size: 25px;
}

footer {
  display: block;
  text-align: center;
  padding: 10px 0;
  margin-top: 10px;
  color: #777;
  border-top: 1px solid #eaeaea;
}

table {
  width: 100%;
}

.thai {
  font-family: "IBM Plex Sans Thai";
}

.content {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
  
}

.upper-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: none;
  height: 51px;
  border-bottom: 1px solid #d3dce6;
  margin-bottom: 10px;
}

.wrapper {
  width: 100%;
  display: flex;
  background-color: rgb(208, 208, 208);
  border-radius: 10px;
}

.editor-wrapper {
  position: relative;
  height: calc(100vh - 230px);
  width: 50%;
  background: none;
  border-width: 2px;
  border-right-width: 1px ;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-color: rgb(148 163 184);
  padding: 10px;
}

.terminal-wrapper {
  position: relative;
  height: calc(100vh - 230px);
  width: 50%;
  background: none;
  border-width: 2px;
  border-left-width: 1px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-color: rgb(148 163 184);
  padding: 10px;
}