@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');

body{
  background: #dadada;
  color: black;
  font-family: "Open Sans";
}

nav{
  margin: 10px auto;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
}

nav a{
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin-left: 12px;
  padding: 10px;

}

nav a:hover{
  color: aqua;
}

nav .projectname{
  color: white;
  margin-right: auto;
  padding-left: 20px;
}

footer {
  display: block;
  text-align: center;
  padding: 10px 0;
  margin-top: 10px;
  color: #777;
  border-top: 1px solid #eaeaea;
}

.thai {
  font-family: "IBM Plex Sans Thai";
}

.content {
  max-width: 1024px;
  margin: 0 auto;
}